@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.sidebar {
    background-color: #202224;
}

.custom-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-sidebar {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .custom-sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 10;
  }
}